{% extends "layout.html"%}
  
{% block title%}
  index
{% endblock %}

{% block main%}
  <form action="/" name="index"></form>
    <div class="libros-exitosos" style="padding: 30px;  text-align: center;">
      <h2>CONOCE UN POCO DE NUESTROS LIBROS</h2>
    </div>
    <!-- Efecto de cartas -->
    <div class="Cards-libros">
      <div class="container" style="margin-top: 30px; margin-bottom: 50px;">
        
        {% for row in libros %}
        <div class="card">
            <img src="{{row.imagen}}">
            <h2>{{row.nombre_libro}} </h2>
            <h2>{{row.author}}</h2>
            <a href="/detalle_libro/{{row.id_libro}}">Detalle Libro</a>
        </div>
        {% endfor %}
      </div>
    </div>
  </form>
{% endblock%}

