{% extends "layout.html"%}
  
{% block title%}
  index
{% endblock %}

{% block main%}
  <form action="/" name="index"></form>
    <div class="libros-exitosos" style="padding: 30px;  text-align: center;">
      <h2>Los 15 Libros Mas Rankeados</h2>
    </div>
    <!-- Efecto de cartas -->
    <div class="Cards-libros">
    <div class="container" style="margin-top: 30px; margin-bottom: 50px;">
    
      <div class="card">
          <img src="../static/50740918_p0_master1200.jpg">
          <h4>Libro 1</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, excepturi unde?</p>
          <a href="/detalle_libro">Leer más</a>
      </div>
      
      <div class="card">
          <img src="../static/artwork-440x440.jpg">
          <h4>Libro 2</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, excepturi unde?</p>
          <a href="/detalle_libro">Leer más</a>
      </div>
      
      <div class="card">
          <img src="../static/chise.jpg">
          <h4>Libro 3</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, excepturi unde?</p>
          <a href="/detalle_libro">Leer más</a>
      </div>
      
    </div>
    </div>
  </form>
{% endblock%}

