<!DOCTYPE html>
<html>
<div class="collapse navbar-collapse" id="yui_3_17_2_1_1632936708741_335">
    <div class="my-auto m-1"></div>
    <ul class="navbar-nav ml-auto my-auto" id="yui_3_17_2_1_1632936708741_334">
        <li class="pull-left">
            <ul class="navbar-nav mr-auto"></ul>
        </li>


        <li class="nav-item mx-md-1 my-auto d-xs-block d-sm-block d-md-none my-auto">
            <a class="nav-link" href="https://eva.uni.edu.ni/course/search.php">
                <i class="icon fa fa-search fa-fw " title="Search" aria-label="Search"></i>
            </a>
        </li>

        <li class="my-auto mx-md-1 d-flex">
            <div class="popover-region collapsed popover-region-notifications" id="nav-notification-popover-container"
                data-userid="3464" data-region="popover-region">
                <div class="popover-region-toggle nav-link icon-no-margin" data-region="popover-region-toggle"
                    role="button" aria-controls="popover-region-container-6154a302a487b6154a2fa3d74917"
                    aria-haspopup="true" aria-label="Mostrar la ventana de notificaciones cuando no hay ninguna"
                    tabindex="0">
                    <i class="icon fa fa-bell fa-fw " title="Mostrar/ocultar menú de notificaciones"
                        aria-label="Mostrar/ocultar menú de notificaciones"></i>
                    <div class="count-container hidden" data-region="count-container"
                        aria-label="Hay 0 notificaciones sin leer" data-uw-styling-context="true">0</div>

                </div>
                <div id="popover-region-container-6154a302a487b6154a2fa3d74917" class="popover-region-container"
                    data-region="popover-region-container" aria-expanded="false" aria-hidden="true"
                    aria-label="Ventana de notificación" role="region">
                    <div class="popover-region-header-container">
                        <h3 class="popover-region-header-text" data-region="popover-region-header-text"
                            data-uw-styling-context="true">Notificaciones</h3>
                        <div class="popover-region-header-actions" data-region="popover-region-header-actions"> <a
                                class="mark-all-read-button" href="#" title="Marcar como leído"
                                data-action="mark-all-read" role="button" aria-label="Marcar como leído">
                                <span class="normal-icon"><i class="icon fa fa-check fa-fw "
                                        aria-hidden="true"></i></span>
                                <span class="loading-icon icon-no-margin"><i
                                        class="icon fa fa-circle-o-notch fa-spin fa-fw " title="Enviando"
                                        aria-label="Enviando"></i></span>
                            </a>
                            <a href="https://eva.uni.edu.ni/message/notificationpreferences.php?userid=3464"
                                title="Preferencias de notificación" aria-label="Preferencias de notificación">
                                <i class="icon fa fa-cog fa-fw " aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <div class="popover-region-content-container" data-region="popover-region-content-container">
                        <div class="popover-region-content" data-region="popover-region-content">
                            <div class="all-notifications" data-region="all-notifications" role="log" aria-busy="false"
                                aria-atomic="false" aria-relevant="additions"></div>
                            <div class="empty-message" tabindex="0" data-region="empty-message"
                                data-uw-styling-context="true">No tienes notificaciones</div>

                        </div>
                        <span class="loading-icon icon-no-margin"><i class="icon fa fa-circle-o-notch fa-spin fa-fw "
                                title="Enviando" aria-label="Enviando"></i></span>
                    </div>
                    <a class="see-all-link" href="https://eva.uni.edu.ni/message/output/popup/notifications.php">
                        <div class="popover-region-footer-container">
                            <div class="popover-region-seeall-text" data-uw-styling-context="true">Ver todo</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="pull-right popover-region popover-region-messages collapsed">
                <a id="message-drawer-toggle-6154a302a71556154a2fa3d74918"
                    class="nav-link d-inline-block popover-region-toggle position-relative" href="#" role="button">
                    <i class="icon fa fa-comment fa-fw " title="Mostrar/ocultar cajón de mensajería"
                        aria-label="Mostrar/ocultar cajón de mensajería"></i>
                    <div class="count-container " data-region="count-container"
                        aria-label="Hay 1 conversaciones sin leer" data-uw-styling-context="true">1</div>
                </a>
            </div>
        </li>

        <li class="nav-item dropdown ml-2 my-auto"></li>
        <li class="nav-item dropdown my-auto"><a href="https://eva.uni.edu.ni/my/index.php"
                class="nav-link dropdown-toggle my-auto" role="button" id="langmenu0" aria-haspopup="true"
                aria-expanded="false" aria-controls="dropdownlangmenu0"
                data-target="https://eva.uni.edu.ni/my/index.php" data-toggle="dropdown" title="Idioma"><i
                    class="fa fa-globe fa-lg"></i><span class="langdesc" data-uw-styling-context="true">Español -
                    Internacional ‎(es)‎</span></a>
            <ul role="menu" class="dropdown-menu" id="dropdownlangmenu0" aria-labelledby="langmenu0">
                <li><a title="English ‎(en)‎" class="dropdown-item" href="https://eva.uni.edu.ni/my/index.php?lang=en"
                        data-uw-styling-context="true">English ‎(en)‎</a></li>
                <li><a title="Español - Internacional ‎(es)‎" class="dropdown-item"
                        href="https://eva.uni.edu.ni/my/index.php?lang=es" data-uw-styling-context="true">Español -
                        Internacional ‎(es)‎</a></li>
            </ul>
        </li>


        <li class="nav-item">
        </li>
        <li class="nav-item dropdown ml-3 ml-md-4 mr-2 mr-md-0" id="yui_3_17_2_1_1632936708741_333">
            <a
                class="nav-link dropdown-toggle my-auto" role="button" href="#" id="usermenu" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" aria-controls="usermenu-dropdown"
                aria-label="Menú del Usuario" title="Angel Samuel Vasquez Garcia">
                <span class="d-none d-md-inline-block mx-1" data-uw-styling-context="true">Angel Samuel Vasquez
                    Garcia</span>
                <img src="https://secure.gravatar.com/avatar/cd74ce6e72fe5673a8d4e9e420415720?s=50&amp;d=mm"
                    class="userpicture defaultuserpic" width="50" height="50" alt="">
            </a>

            <div class="dropdown-menu dropdown-menu-right" role="menu" id="usermenu-dropdown"
                aria-labelledby="usermenu">
                <a class="dropdown-item" href="https://eva.uni.edu.ni/my" title="Área personal"
                    data-uw-styling-context="true"><i aria-hidden="true" class="fa fa-dashboard"></i>Área personal</a><a
                    class="dropdown-item" href="https://eva.uni.edu.ni/user/profile.php" title="Ver perfil"
                    data-uw-styling-context="true"><i aria-hidden="true" class="fa fa-user"></i>Ver perfil</a><a
                    class="dropdown-item" href="https://eva.uni.edu.ni/user/edit.php" title="Editar perfil"
                    data-uw-styling-context="true"><i aria-hidden="true" class="fa fa-cog"></i>Editar perfil</a><a
                    class="dropdown-item" href="https://eva.uni.edu.ni/grade/report/overview/index.php"
                    title="Calificaciones" data-uw-styling-context="true"><i aria-hidden="true"
                        class="fa fa-list-alt"></i>Calificaciones</a><a class="dropdown-item"
                    href="https://eva.uni.edu.ni/user/preferences.php" title="Preferencias"
                    data-uw-styling-context="true"><i aria-hidden="true" class="fa fa-cog"></i>Preferencias</a><a
                    class="dropdown-item" href="https://eva.uni.edu.ni/calendar/view.php" title="Calendario"
                    data-uw-styling-context="true"><i aria-hidden="true" class="fa fa-calendar"></i>Calendario</a><a
                    class="dropdown-item" href="https://eva.uni.edu.ni/login/logout.php?sesskey=2nf9UJZrGq"
                    title="Cerrar sesión" data-uw-styling-context="true"><i aria-hidden="true"
                        class="fa fa-sign-out"></i>Cerrar sesión</a>
            </div>
        </li>


    </ul>
</div>

</html>